* {
    box-sizing: border-box;
}
.dice {
    display: inline-flex;
    vertical-align: top;
    margin: 5px;
    list-style: none;
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 5px solid #BFBFBD;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.dice__dot:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 100%;
}

.dice__one {
    justify-content: center;
    align-items: center;
}
.dice__two {
    justify-content: space-between;
}
.dice__two .dice__dot:last-child {
    align-self: flex-end;
}
.dice__three {
    justify-content: space-between;
}
.dice__three .dice__dot:nth-child(3) {
    align-self: flex-end;
}
.dice__three .dice__dot:nth-child(2) {
    align-self: center;
}

.dice__four {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.dice__four .dice__dot {
    width: 50%;
}
.dice__four .dice__dot:nth-child(even) {
    text-align: right;
}

.dice__five {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.dice__five .dice__dot:nth-child(3) {
    width: 100%;
    text-align: center;
}


.dice__six {
    flex-flow: wrap column;
    justify-content: space-between;
    align-content: space-between;
}